.nav-bar {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: #DAE2DF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--logo {
    position: relative;
    width: 45px;
    height: 45px;
  }
}